{% extends "store_app/base.html" %}

{% block content %}
<h2>Каталог товаров</h2>
<ul class="list-group">
            {% for product in products %}
                 <li class="list-group-item">
                     <a href="{% url 'product_detail' product.pk %}"><h3> {{ product.name }}</h3></a>
                     <p>{{ product.description }}</p>
                     <small>Категория: {{ product.category }} | Цена: {{ product.price }}</small>
                 </li>
            {% empty %}
                <li class="list-group-item">Каталог пока пуст...</li>


             {% endfor %}
        </ul>
{% endblock %}
